.navbar {
	height: 100px;
}
#header-text {
	font-size: 40px;
	padding-top: 10px;
	color: white;
}
#header-name, #health {
	font-size: 20px;
	padding-top: 20px;
}


#health{
	font-weight: 900;
}

#health .glyphicon-ok{
	color: green;
}

#health .glyphicon-alert{
	color: red;
}

#dashboard {
	padding-top: 120px;
}

#current-average{
	text-align: center;
}
#current-average .intro{
	font-size: 2em;
}
#current-average .average{

	font-size: 3.5em;
}

#download-json {
	margin: 10px;
}
