<div id="dashboard">
<button class="btn btn-default pull-right" ng-click="RefreshServer()">Refresh Server</button>
<div ng-include="'/local_components/templates/ratings_row.html'" class="row"></div>
<div ng-include="'/local_components/templates/map_row.html'" class="row"></div>
<div ng-include="'/local_components/templates/json_row.html'" class="row"></div>
</div>
