<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        	<div class="navbar-header">
          		<div class="navbar-brand"><img src="/local_components/images/usabilla2.png" alt="Usabilla"></div>
			<div class="navbar-text" id="header-text">Code Test</div>
        	</div>

		<div class="nav navbar-right">
			<div class="navbar-text" id="health" usabilla template="health.html" apicall="health_check" refresh="6000"></div>
			<div class="navbar-text navbar-right" id="header-name">by: Jason Smith</div>
        	</div>
      	</div>
</div>
