<div ng-switch on="health">
Health: 
    	<span ng-switch-when="good">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</span>
    	<span ng-switch-when="bad">
		<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
	</span>
</div>

