<div class="panel panel-default">
  <div class="panel-heading">All Data</div>
    <div class="panel-body">
<tabset>
<tab heading="Tabular Data">
	<h3>All Records</h3>
	<table class="table table-striped table-bordered">
                <tr>
                        <th>Browser</th>
                        <th>Platform</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Region</th>
                        <th>Coord.</th>
                        <th>Labels</th>
                        <th>Rating</th>
                </tr>
                <tr ng-repeat="item in items">
                        <td>
				{{ item.computed_browser.Browser }} - 
				{{ item.computed_browser.Version }} 
			</td>

                        <td>
				{{ item.computed_browser.Platform }} 
                        </td>
                        <td>
				{{ item.geo.city }}
                        </td>
                        <td>
				{{ item.geo.country }} 
                        </td>
                        <td>
				{{ item.geo.region }} 
                        </td>
                        <td>
				{{ item.geo.lat }}, 
				{{ item.geo.lon }} 
                        </td>
                        <td>
				<div ng-repeat="label in item.labels">
					{{ label }}
				</div>
                        </td>
                        <td>
				{{ item.rating }}
                        </td>
                </tr>

        </table>

</tab>
<tab heading="JSON">
	<div id="download-json">
		<a href="/api_endpoint/download.json" class="btn btn-default">Download JSON</a>
	</div>
	<pre>{{ json_string }}</pre>
</tab>
</tabset>
</div>
</div>
