<div class="col-md-12 jumbotron" id="ratings_map">
	<map center="49.6293201,6.7688756" zoom="2">
		<marker position="{{ item.geo.lat}}, {{ item.geo.lon }} " title="{{ item.geo.country }}"
			 ng-repeat="item in items"></marker>
	</map>
</div>
