<div class="col-md-3 jumbotron" id="current-average">
	<div class="intro">
		Ratings Average
	</div>
	<div class="average">
		{{ average }}
	</div>
</div>
<div class="col-md-4">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Rating</th>
			<th>Qauntity</th>
		</tr>
		<tr ng-repeat="(rating, qty) in ratings_count">
			<td>{{ rating }}</td>
			<td>{{ qty }}</td>
		</tr>

	</table>
</div>
<div class="col-md-5" id="pie-chart">
<canvas id="doughnut" class="chart chart-doughnut" data="piedata" legend="true"
  labels="pielabels"></canvas> 
</div>
